* { padding: 0; margin: 0; }
html, body {
    min-height: 100% !important;
    height: 100%;
}
body{
    display: flex;
    flex-direction: row;
    background-color: rgb(32, 33, 36);
}
.difficulty{
    color: #e8eaed;
    margin-left: 12%;
    margin-top: 8%;
    width: 20%;
    height: 20%;
}
.main{
    margin-top: 1%;
    height: 68%;
    width: 40%;
    border-radius: 4vw;
    display: flex;
    flex-direction: column;
    padding: 5px;
    color: #e8eaed;
}
.popup-fade:before {
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 9999;
}
.popup {
	position: fixed;
	top: 20%;
	left: 50%;
	padding: 2vw;
	width: 40vw;
    height: 5vh;
	margin-left: -20vw;	
	background: #fff;
	border: 1px solid orange;
	border-radius: 4px; 
	z-index: 99999;
	opacity: 1;	
    font-size: 2vw;
}
.popup-close {
	position: absolute;
	top: 0.1vw;
	right: 0.1vw;
}
.word{
    margin-bottom: 1vw;
    border-radius: 4vw;
    box-shadow: 0 0 1vw 0.1vw #e8eaed;
    font-size: 3vw;
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    width: 98%;
    padding: 2%;
    padding-top: 10vw;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    height: 80%;
}
.currentWord{
    margin-left: 8vw;
    display: flex;
    flex-direction: row;
    height: 7%;
    width: 80%;
    font-size: 2vw;
}
.leftArrow,.rightArrow{
    display: flex;
    height: 100%;
    width: 10%;
}
.rightArrow{
    padding-right: 5vw;
    padding-left: 2vw; 
}
.leftArrow{
    padding-left: 5vw;
    padding-right: 2vw;
}
.i{
    display: flex;
    border: 0;
    height: 100%;
    width: 100%;
}
.input{
    display: flex;
    height: 4vw;
    width: auto;
    margin: 0 auto;
}
.in{
    color: #e8eaed;
    background-color: rgba(0, 0, 0, 0.2);;
    border: 0;
    height: 3vh;
    width: 15vw;
}
.statButton{
    display: flex;
    width: 28%;
    height: auto;
    margin: 0 37% 0 auto;
}
.text{
    width: 110%;
    border-radius: 0.6vw;
    border: 0.3vw solid rgba(0, 0, 0, 0.6);
    color: rgb(168, 170, 172);
    background-color: rgba(0, 0, 0, 0.2);
}
.text:hover{
    width: 110%;
    border-radius: 0.6vw;
    border: 0.3vw solid rgba(0, 0, 0, 0.3);
    color:#e8eaed;
    background-color: rgba(0, 0, 0, 0.1);
}
.text:active{
    width: 110%;
    border-radius: 0.6vw;
    border: 0.3vw solid rgba(0, 0, 0, 0.8);
    color:rgb(168, 170, 172);
    background-color: rgba(0, 0, 0, 0.4);
}
.stat{
    width: auto;
    height: auto;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
}
.correct{
    padding-right: 10vw;
}
.text1,.text2,.text{
    font-size: 2vw;
}
.red{
    color: #8b2a11;
}
.green{
    color:#118b11;
}
